<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Sign up</h1>
    </div>
  </div>
</section>

<div class="section-indent">
  <div class="container has-text-dark m-lg p-lg">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="field">
        <%= f.label :email, :class => "label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "Email", :class => "input" %>
      </div>

      <div class="field">
        <%= f.label :first_name, :class => "label" %>
        <%= f.text_field :first_name, autofocus: true, autocomplete: "First Name", :class => "input" %>
      </div>

      <div class="field">
        <%= f.label :last_name, :class => "label" %>
        <%= f.text_field :last_name, autofocus: true, autocomplete: "Last Name", :class => "input" %>
      </div>

      <div class="field">
        <%= f.label :user_name, :class => "label" %>
        <%= f.text_field :user_name, autofocus: true, autocomplete: "Last Name", :class => "input" %>
      </div>

      <div class="field">
        <%= f.label :password, :class => "label" %>     
        <%= f.password_field :password, autocomplete: "New Password", :class => "input" %>
        <% if @minimum_password_length %>
          <em class="help">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, :class => "label" %>
        <%= f.password_field :password_confirmation, autocomplete: "New Password", :class => "input" %>
      </div>

      <div class="field">
        <%= f.submit "Sign Up", :class =>"button is-primary has-text-weight-bold" %>
      </div>

    <% end %>

    <div class="is-link">
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
