<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1>Resend unlock instructions</h1>
    </div>
  </div>

  <container class="m-lg p-lg">

    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "input" %>
      </div>

      <div class="actions">
        <%= f.submit "Resend unlock instructions" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </container>
</section>
