<div class="field">
  <%= f.label :name, :class => "label" %>
  <div class="control">
    <%= f.text_field :name, placeholder: "Spot Name", :class => "input", :required => true %>
  </div>
</div>

<div class="field">
  <%= f.label :species, :class =>'label' %>
  <div class="control">
    <div class='select'>
      <%= f.collection_select(:species_id, @species_all, :id, :common_name, {include_blank: true}, prompt: 'Select a species') %>
    </div>
  </div>
</div>

<div class="field">
  <%= f.label :success, "How was the fishing?", :class => "label" %>
  <div class="control">
    <div class="select">
      <%= f.collection_select :success, Record.successes, :first, :first, :prompt => "Select One", :required => true %>
    </div>
  </div>
</div>

<div class="field">
  <%= f.label :body, "Spot Description", :class => "label" %>
  <div class="control">
    <%= f.text_area :body, placeholder: "Description", :class => "textarea" %>
  </div>
</div>

